@include media-breakpoint-up(xl)
    main > .blocks .block-pages--grid .grid, 
    body.full-width .block-pages--grid .grid
        grid-template-columns: repeat(4, 1fr)
    
.block-pages .grid article .media img, 
.block-pages .cards article .media img
    aspect-ratio: auto
    width: 100%

.block-pages--grid article .media img
    @include in-page-with-sidebar
        max-width: 250px

header#document-header
    .menu
        .nav-level-1
            > li:last-of-type
                a
                    color: $color-background
                    background: $color-accent
                    padding: calc(0.75rem * 0.5) 0.75rem
                    &:hover
                        text-decoration-color: white
                @include media-breakpoint-down(desktop)
                    margin-top: $spacing-3
                    margin-bottom: $spacing-3
                    text-align: center

footer#document-footer
    margin-top: $spacing-6